<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ELASTICSEARCH CRAWL MONITOR</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="path/css/jquery.json-viewer.css" rel="stylesheet">
    <link href="path/css/loading.css" rel="stylesheet">
    <link href="path/css/other.css" rel="stylesheet">
</head>

<!--<body style="background: url(path/images/bg.jpg);">-->
<li class="active"><a href="http://106.75.136.149:61239/#/connect">ELASTICSEARCH CRAWL MONITOR</a></li>

<body>

<script type='text/javascript' src="path/js/d3.js" charset="utf-8"></script>
<script type='text/javascript' src='path/js/jquery-2.2.4.min.js'></script>
<script src="path/js/jquery.json-viewer.js"></script>

<div id="loading">
    <div class="loadingImage"></div>
</div>

<div id="box" style="position:  relative;">
    <div style="float: left;">
        <div id="logo">ELASTICSEARCH监控平台</div>
    </div>
</div>
<div id="view_alarm" style="position:  relative;">
    <a style="color: rgba(19,33,212,0.89);display:  inline-block;position:  absolute;width:  300px;right: 401px;top: 100px;height: auto;">
        后台预警程序每日凌晨五点自动发送邮件...
    </a>
</div>

<div id="view_statistics_data" style="position:  relative;">
    <a href="javascript:void(0)" id="alarm-statistics"
       style="color: rgba(212,11,7,0.89);display:  inline-block;position:  absolute;width:  766px;right: 401px;top: 100px;height: auto;">
        1.查看监测统计数据
    </a>
</div>
<div id="send_email_box" style="position:  relative;">
    <a href="javascript:void(0)" id="send-email"
       style="color: rgba(212,11,7,0.89);display:  inline-block;position:  absolute;width:  766px;right: 401px;top: 130px;height: auto;">
        2.以邮件方式发送监测报告
    </a>
</div>
<div id="view_all_index" style="position:  relative;">
    <a href="javascript:void(0)" id="get-all-indices"
       style="color: rgba(212,11,7,0.89);display:  inline-block;position:  absolute;width:  766px;right: 401px;top: 160px;height: auto;">
        3.查看集群所有索引列表
    </a>
</div>
<div id="view_all_24h" style="position:  relative;">
    <a href="javascript:void(0)" id="24h-statistics"
       style="color: rgba(212,11,7,0.89);display:  inline-block;position:  absolute;width:  766px;right: 401px;top: 190px;height: auto;">
        4.查看最近24小时各索引数据统计量
    </a>
</div>
<div id="view_all_7d" style="position:  relative;">
    <a href="javascript:void(0)" id="7d-statistics"
       style="color: rgba(212,11,7,0.89);display:  inline-block;position:  absolute;width:  766px;right: 401px;top: 220px;height: auto;">
        5.查看最近一周各索引数据统计量
    </a>
</div>
<div id="view_all_delete" style="position:  relative;">
    <a href="javascript:void(0)" id="delete-statistics"
       style="color: rgba(212,11,7,0.89);display:  inline-block;position:  absolute;width:  766px;right: 401px;top: 250px;height: auto;">
        6.最近24小时集群删除程序运行情况
    </a>
</div>
<!--<div id="send_assign_email" style="position:  relative;">-->
<!--<div style="float: left;">-->
<!--<input type="text" name="search" id="A" placeholder="请输入关键字">-->
<!--<div id="send_assign_email_to">发送</div>-->
<!--</div>-->
<!--</div>-->
<!-- JSON viewer -->

<!--<div id="json-renderer"></div>-->

<div id="json-renderer"
     style="position: relative; color: rgba(15,1,3,0.89);display:  inline-block;position:  absolute;width:  766px;right: 401px;top: 280px;height: auto;">
</div>

<script>
    // 1.查看监测统计数据
    $('#alarm-statistics').click(function () {
        retrieveDataToJsonOrPrint("alarm-statistics")
    });

    // 2.以邮件方式发送监测报告
    $('#send-email').click(function () {
        retrieveDataToJsonOrPrint("send-email")
    });

    // 3.查看集群所有索引列表
    $('#get-all-indices').click(function () {
        retrieveDataToJsonOrPrint("get-all-indices")
    });

    // 4.查看最近24小时各索引数据统计量
    $('#24h-statistics').click(function () {
        retrieveDataToJsonOrPrint("24h-statistics")
    });

    // 5.查看最近一周各索引数据统计量
    $('#7d-statistics').click(function () {
        retrieveDataToJsonOrPrint("7d-statistics")
    });

    // 6.最近24小时集群删除程序运行情况
    $('#delete-statistics').click(function () {
        retrieveDataToJsonOrPrint("delete-statistics")
    });

    // 从GET接口获取数据并以JSON的方式呈现到页面
    function retrieveDataToJsonOrPrint(interfaceUrl) {
        alert("Please wait for a moment...");
        $("#loading").show();
        d3.json(interfaceUrl, function (error, json) {
            if (error) {
                return console.warn(error);
            }
            $("#loading").hide();
            console.log(json);
            $('#json-renderer').jsonViewer(json, {collapsed: false, withQuotes: true});
        });
    }

    // WHOLE PAGE LOADING
    $("#loading").fadeOut(400);
</script>
</body>
</html>


