<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知识图谱可视化</title>
    <style type="text/css">
        .tooltip {
            font-family: simsun;
            font-size: 16px;
            width: 120px;
            height: auto;
            position: absolute;
            text-align: center;
            border-style: solid;
            border-width: 1px;
            background-color: white;
            border-radius: 5px;
        }
    </style>
</head>
<body style="background: url(http://localhost:7100/knowledge-graph/path/images/bg.jpg);">
<input type="text" value="" id="inputText">
<button onclick="getInput()">通过ID获取数据</button>

</body>
</html>


